:root {
  --font-grow-size: 120%;
  --font-grow-time: 0.1s;
}



body {
  font-size: 2em;
  font-family: Monaco, monospace;
  background-color: #383838;
}

.title {
  color: white;
  text-shadow: 3px 3px 4px #505050;
  font-style: italic;
}

.sketches {
  padding: 5pt;
  margin: 20px;
  border-radius: 15px;
  width: auto;
  box-sizing: border-box;
  line-height: 45px;
  font-style: italic;
}

.sketch {
  font-size: 100%;
  transition: font-size var(--font-grow-time) ease-in-out;
  border-radius: 16px;
  background-color: #47476e00;
  padding: 3px;
  transition: background-color var(--font-grow-time) ease-in-out;
  transition: border-radius var(--font-grow-time) ease-in-out;
}

.sketch:link {
  text-decoration: none;
  color: white;
}

.sketch:visited {
  color: white;
}

.sketch:hover, .sketch:active {
  color: #383838;
  background-color: #bbbbffff;
  border-radius: 16px;
  transition: background-color var(--font-grow-time) ease-in-out;
  transition: border-radius var(--font-grow-time) ease-in-out;
  padding: 3px;
  font-size: var(--font-grow-size);
  transition: font-size var(--font-grow-time) ease-in-out;
}
