body {
  margin: 0;
}

.title {
  font-size: 1.5rem;
  background-color: #a7cdff;
  text-align: center;
  margin: none;
  color: white;
  box-shadow: 0px 6px 0px #679add;
}

.title h1 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sketches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2rem;
  margin: 10px;
  align-items: center;
}

.sketches div {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  align-items: center;
  width: 80%;
  height: 3rem;
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 4px 0px rgb(130, 130, 130);
  transition: height 150ms;
}

.sketches div:hover {
  height: 7rem;
}

.sketches div a {
  text-decoration: none;
  color: #366cb3;
  margin: 0;
  width: 100%;
  border: 1em;
  transition: color 150ms;
}

.sketches div a:hover {
  color: #0a2b57;
}

.sketches div p {
  margin-top: 12px;
  font-size: 1.5rem;
}

footer {
  /* position: absolute; */
  margin-top: 3rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #366cb3;
  transition: 150ms;
}

footer a:hover {
  color: #0a2b57;
}